<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Orbit Clock</name>
        <version>0.2</version>
        <author>Myank Singhal</author>
        <id>orbitclock</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>